.navbar{
    
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch; 
	padding: 10px;
	padding-right: 10px;
    
	
}

.bars{
    margin-top: 13px;
}